<h2 style=" text-align: center;">Welcome to GoOnAir</h2>
<mat-spinner *ngIf="isLoading"></mat-spinner>

<ng-container *ngIf="flights.length > 0 && !isLoading">
    <mat-paginator 
    [length]="totalFlights"
    [pageSize]="flightsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)">
    </mat-paginator>

    <mat-card *ngFor="let flight of flights">
        <mat-card-title>
            {{ flight.destination }}
        </mat-card-title>
        
        <img mat-card-image [src]="flight.imagePath" [alt]="flight.destination">
        
        <mat-card-subtitle>
            From: {{ flight.city }} <br>
            Date: {{ flight.date }} <br>
            Time: {{ flight.time }}
        </mat-card-subtitle>
        <mat-card-content>
            {{ flight.description | shorten : 200 }} <br><br>
            <span style="color: gray;">Price: </span><span style="font-weight: bold;">{{  flight.price }} €</span><br>
        </mat-card-content>
        <mat-card-actions align="end" *ngIf="auth == 'user'">
            <button  mat-raised-button color="accent" [routerLink]="['/flights/view', flight.id]">View</button>
        </mat-card-actions>
        <mat-card-actions align="end" *ngIf="auth == 'admin'">
            <button mat-raised-button color="primary" [routerLink]="['/flights/edit', flight.id]">Edit</button>
            <button mat-raised-button color="warn" (click)="onDelete(flight.id)">Delete</button>
        </mat-card-actions>
    </mat-card> 

</ng-container>

<h2 *ngIf="flights.length <= 0 && !isLoading" style="margin: 10rem auto; text-align: center;">No flights available!</h2>

