<h2 style=" text-align: center;">New Flight Page</h2>
<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSaveFlight(flightForm)" #flightForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input 
                matInput 
                type="text"
                name="destination"
                [ngModel]="flight?.destination"
                required
                #destination="ngModel"
                placeholder="Flight destination">
                <mat-error *ngIf="destination.invalid">
                    Please enter a destination
                </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input 
                matInput 
                type="text"
                name="city"
                [ngModel]="flight?.city"
                required
                #city="ngModel"
                placeholder="Flight City">
                <mat-error *ngIf="city.invalid">
                    Please enter a city
                </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input 
                matInput 
                type="date"
                name="date"
                [ngModel]="flight?.date"
                required
                #date="ngModel"
                placeholder="Flight date">
                <mat-error *ngIf="date.invalid">Please enter a flight date</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input 
                matInput 
                type="time"
                name="time"
                [ngModel]="flight?.time"
                required
                #time="ngModel"
                placeholder="Flight time">
                <mat-error *ngIf="time.invalid">Please enter a flight time</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input 
                matInput 
                type="number"
                name="seats"
                [ngModel]="flight?.seats"
                required
                #seats="ngModel"
                placeholder="Flight seats">
                <mat-error *ngIf="seats.invalid">Please enter a flight seats</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input 
                matInput 
                type="number"
                name="price"
                [ngModel]="flight?.price"
                required
                #price="ngModel"
                placeholder="Flight price">
                <mat-error *ngIf="price.invalid">Please enter a flight price</mat-error>
        </mat-form-field>

        <mat-form-field>
            <textarea 
                matInput 
                rows="10" 
                name="description"
                [ngModel]="flight?.description"
                required
                #description="ngModel"
                placeholder="Flight description">
                </textarea>
                <mat-error *ngIf="description.invalid">Please enter a description</mat-error>
        </mat-form-field>    

        <button mat-raised-button color="accent" type="submit">
            <ng-container *ngIf="mode == 'create'">Save Flight</ng-container>
            <ng-container *ngIf="mode == 'edit'">Update Flight</ng-container>
        </button>

        <a routerLink="/" mat-raised-button color="primary" style="margin: 0 0.3rem">Back</a>
    </form>
</mat-card>