<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onEdit()" *ngIf="!isLoading">
        <h2 style="text-align: center;">Edit Profile Page</h2>
        <mat-form-field>
            <input 
                matInput 
                type="text"
                name="username"
                required
                minlength="3"
                formControlName="username"
                placeholder="New Username">
                <mat-error *ngIf="form.get('username')?.errors?.required" class="error">Please enter a new username</mat-error> 
                <mat-error *ngIf="form.get('username')?.errors?.minlength" class="error">Username is minimum 3 chars</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input 
                matInput 
                type="password"
                name="oldPassword"
                required
                minlength="6"
                formControlName="oldPassword"
                placeholder="Current Password">
                <mat-error *ngIf="form.get('oldPassword')?.errors?.required" class="error">Please enter current password</mat-error> 
                <mat-error *ngIf="form.get('oldPassword')?.errors?.minlength" class="error">Passwod is minimum 6 chars</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input 
                matInput 
                type="password"
                name="newPassword"
                required
                minlength="6"
                formControlName="newPassword"
                placeholder="New Password">
                <mat-error *ngIf="form.get('newPassword')?.errors?.required" class="error">Please enter new password</mat-error> 
                <mat-error *ngIf="form.get('newPassword')?.errors?.minlength" class="error">Passwod is minimum 6 chars</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input 
                matInput 
                type="password"
                name="rePassword"
                required
                minlength="5"
                formControlName="rePassword"
                placeholder="Confirm New Password">
                <mat-error *ngIf="form.get('rePassword')?.errors?.required" class="error">Please confirm new password</mat-error> 
                <mat-error *ngIf="form.get('rePassword')?.errors?.sameValue" class="error">Confirm password does not match password</mat-error>
        </mat-form-field>   

        <button mat-raised-button color="accent">Update</button>
        <a routerLink="/user/profile" mat-button color="primary">Back</a>
    </form>
</mat-card>